{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": ["*.html", "*.twig"],
      "options": {
        "tabWidth": 4,
        "useTabs": true
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "tabWidth": 1,
        "useTabs": false
      }
    }
  ]
}
